kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: redis
  labels:
    name: redis-deployment
    app: example-voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
     name: redis
     role: redisdb
     app: example-voting-app
  template:
    spec:
      containers:
        - name: redis
          image: redis:alpine
          resources:
            limits:
              memory: 64Mi
            requests:
              memory: 32Mi
    metadata:
      labels:
        name: redis
        role: redisdb
        app: example-voting-app
